<div ng-controller="mainController">


	<h2 style="text-align: center;">Oglasi</h2>

	<div class="col-xs-12">


		<div class="col-xs-2">

			<div class="form-group">
				<form name="telefonForm" ng-submit="dodajTelefon()">

					<label for="novaMarkaId">Marka</label> <select class="form-control"
						ng-click="getModeliByMarkaId(noviTelefon.markaId)"
						id="novaMarkaId" name="markaName" ng-model="noviTelefon.markaId"
						required
						oninvalid="this.setCustomValidity('Unesite marku uredjaja')"
						oninput="setCustomValidity('')">
						<option value="">Marka Uredjaja</option>
						<option ng-repeat="marka in marke" value="{{marka.id}}">{{marka.nazivMarke}}</option>
					</select> <label for="noviModelId">Model</label> <select
						class="form-control" id="noviModelId" name="modelName"
						ng-model="noviTelefon.model.id" required
						oninvalid="this.setCustomValidity('Unesite model uredjaja')"
						oninput="setCustomValidity('')">
						<option value="">Model Uredjaja</option>
						<option ng-repeat="model in modeli" value="{{model.id}}">{{model.nazivModela}}</option>
					</select> <label for="noviModeStanjeId">Stanje</label> <select
						class="form-control" id="noviModeStanjeId" name="stanjeName"
						ng-model="noviTelefon.stanje" required
						oninvalid="this.setCustomValidity('Unesite stanje uredjaja')"
						oninput="setCustomValidity('')">
						<option value="">Stanje Uredjaja</option>
						<option ng-repeat="stanje in stanja" value="{{stanje}}">{{stanje}}</option>
					</select> <label for="noviTelefonCenaId">Cena</label> <input type="number"
						name="cenaName" class="form-control" id="noviTelefonCenaId"
						ng-model="noviTelefon.cena" placeholder="00.00 &euro;" required
						oninvalid="this.setCustomValidity('Unesite cenu uredjaja')"
						oninput="setCustomValidity('')"> <label
						for="noviTelefonOpisId">Opis</label> <br>
					<textarea rows="4" style="width: 100%" id="noviTelefonOpisId"
						name="opisName" ng-model="noviTelefon.opis"
						placeholder="Tekst Oglasa..." required
						oninvalid="this.setCustomValidity('Unesite tekst oglasa')"
						oninput="setCustomValidity('')">
    				</textarea>

					<button type="submit" style="margin-top: 20px"
						class="btn btn-primary">Dodaj Oglas</button>

				</form>

			</div>

		</div>
		<div class="col-xs-8">
			<div class="border-left-0 col-xs-6" ng-repeat="t in telefoni" style="border:1px solid gray">
				<br>
				<div class="row row-margin-bottom">
					<div data-category="view">
						<div class="lib-panel">
							<div>
								<div class="col-xs-6" style="border:1px solid gray">
									<img 
									src="{{t.model['putanjaDoModela']}}">
								</div>
								<div class="col-xs-6">
									<div class="lib-row lib-header">
										<h4>
											{{t.model.marka['nazivMarke']}} {{t.model['nazivModela']}} 
											<span style="color: red;">{{t.cena}} &euro;</span>
										</h4>
										<div class="lib-header-seperator"></div>
									</div>
									<div style="color: #18abe0;">{{t.stanje}}</div>
									<br>
									<div>{{t.opis}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
		<div class="col-xs-2">something will go here. extra content</div>
	</div>
</div>